<section class="posts-container">
  <div class="posts">
    <div class="post-detail-body">
      <h3>Post #<%= @post.id%> by <%= @post.author.name %></h3>
      <div class="post-comments">
        <span class="comments">Comments: <%= @post.comments_counter || 0%>, </span>
        <span class="likes">Likes: <%= @post.likes_counter || 0 %> </span>
      </div>
      <br>
      <div class="delete">
        <% if can? :destroy , @post %>
          <%= button_to 'Delete', user_post_path(@user, @post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-danger" %>
        <% end %>
      </div>
    </div>
    <p class="post-text alert"> <%= flash[:notice] %> </p>
    <p class="post-text"> <%= @post.text %> </p>
  </div>
  <div>
    <%= form_with model: @like, url:  user_post_likes_path(@user, @post) do |form|%>
      <%= form.submit 'Like post', class: 'submit' %>
    <%end%>
  </div>
  <ul class="comments-list">
    Comments:
    <% @comments.includes(:user).each do |comment| %>
      <li class="comment"><%= @user.name%>: <%= comment.text %></li>
      <% if can? :destroy, comment %>
        <%= button_to "Delete", user_post_comment_path(@user, @post, comment), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-danger"%>
      <% end %>
    <% end %>
  </ul>
</section>


<button class="see-all-posts-link">
    <%= link_to "Create new comment", new_user_post_comment_path(@user, @post) %>
</button>